*{
    margin: 20px;
}
body{
    border: 2px solid black;
    font-size: xx-large;
    justify-content: center;
}


h1{
    color: #27aedb;
    text-align: center;
}

button{
    color:#27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}